
<!doctype html>
<html lang="en">
  <head>

    <!-- Google Analytics Content Experiment code -->
    <script>function utmx_section(){}function utmx(){}(function(){var
    k='170941909-1',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
    <!-- End of Google Analytics Content Experiment code -->


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Settings</title>

    <script src="js/jquery-1.11.0.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/general.css" rel="stylesheet">
    <link href="/css/settings.css" rel="stylesheet">
    <link href="/css/settings-routine.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/mobiscroll.javascript.min.css">
    <script src="/js/mobiscroll.javascript.min.js"></script>
    <script src="/js/settings-routine.js"></script>

  </head>
  <body>


    <main role="main">
        <div class="headbar">
           <a href="settings">            
                <img src="/images/leftarrow.png" class="back-button img-responsive">
            </a>

            <div class="set-alert img-responsive">
                <span class="notes">ADD ALERT</span>
            </div>

            <a href="index">            
                <img src="/images/homeicon.png" class="home-button img-responsive">
            </a> 
        </div>

        <div class="space"></div>

        <div class="routine-bar" id={{time}}>
            <span class="notes">TIME</span>
            <span>
                <input class="inputbar" id="demo" placeholder="Please Select..." /></div>
            </span>
        </div>

        <div class="padding"></div>
        <div class="routine-bar" id={{time}}>
            <div class="notes-routine-left">REPEAT<br></div>
            <span><div class="inputbar" id="demoRepeat">
            </div>
            </span>
        </div>


        <div class="plus">
            <div>
                <a href="#" id="plus-button">
                    <img src="/images/add-pink.png" class="img-responsive" align="bottom">
                </a>
            </div>
        </div>
<script>

    mobiscroll.settings = {
        lang: 'en',            // Specify language like: lang: 'pl' or omit setting to use default
        theme: 'ios'      // Specify theme like: theme: 'ios' or omit setting to use default
    };
    
    
    
    mobiscroll.date('#demo-header', {
        theme: 'ios',     // Specify theme like: theme: 'ios' or omit setting to use default
        lang: 'en',            // Specify language like: lang: 'pl' or omit setting to use default
        display: 'bottom',     // Specify display mode like: display: 'bottom' or omit setting to use default
        headerText: '{value}'  // More info about headerText: https://docs.mobiscroll.com/4-0-0_beta3-1/javascript/datetime#opt-headerText
    });
    
    mobiscroll.date('#demo-non-form', {
        theme: 'ios',     // Specify theme like: theme: 'ios' or omit setting to use default
        lang: 'en',            // Specify language like: lang: 'pl' or omit setting to use default
        display: 'bottom'      // Specify display mode like: display: 'bottom' or omit setting to use default
    });
</script>

        
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (blelow), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

        <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-115192204-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
  </body>
</html>
