.username {
	position: relative;
	top: 30vh; 
	left: 50%;
	margin-right: -50%; 
	transform: translate(-50%, -50%);
	left: 50%;
	font-size: 3vh;
}

.password {
	position: relative;
	top: 20vh; 
	left: 50%;
	margin-right: -50%; 
	transform: translate(-50%, -50%);
	left: 50%;
    font-size: 3vh;
}

.login-button {
	margin-top: 5vw;
	width: 60vw;
	position: relative;
	top: 33vh; 
	margin-right: -50%; 
	transform: translate(-50%, -50%);
	left: 50%;
    font-size: 3vh;
}

#fbinstr {
	color: #E3E3E3;
	font-size: 14px;
}

.facebookLogin {
	margin-top: 5vw;
	width: 70vw;
	position: relative;
	top: 25vh; 
	/*left: 65%;*/
	margin-right: -50%; 
	transform: translate(20%, -50%);
    font-size: 3vh;
    border-radius: 50%;
}

.logininfo {
	position: relative;
	top: 30vh;
}

.infobar {
	border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: #E3E3E3;
    border-width: 0.5px;
    width: 55vw;
    height: 10vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nameinput {
	background-color: transparent;
	position: relative;
	border-style: none;
	/*transform: translate(5%, 150%);*/
	margin-left: 13vw;
	bottom: 2vw;
	outline: none;
	color: #D3A9AC;
}

#pwinput {
	background-color: transparent;
	border-style: none;
	/*transform: translate(12%, 150%);*/
	outline: none;
	color: #D3A9AC;
	margin-left: 13vw;
	bottom: -2vw;
	position: relative;
}

#profileicon {
	width: 11vw; 
	max-width: 9vh; 
	max-height: 9vh; 
	position: relative;
/*	transform: translate(-15%, 52%);*/
	float: left;
	bottom: -5vw;
}

#lockicon {
	width: 8vw; 
	max-width: 6vh; 
	max-height: 6vh; 
	position: relative;
	/*transform: translate(-3%, 90%);*/
	float: left;
	bottom: -7vw;
	left: 1.5vw;
}

.padding {
	background-color: transparent;
	height: 1vh;
}

.logo {

}

#logopic {
	width: 25vw; 
	max-width: 20vh; 
	max-height: 20vh; 
	position: relative;
	top: 20vh;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#logonote {
	position: relative;
	top: 20vh;
	text-align: center;
	margin-top: 1vh;
	font-size: 3vh;
	color: #E3CED0;
}

#signinbutton {
	margin-top: 5vh;
}

#fbbutton {
	display: none;
}

.signupinstr {
	display: block;
    margin-left: auto;
    margin-right: auto;
    top: 30vh;
    position: relative;
    left: 5vw;
}
